.button{
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-size: 100%;
}
.button:hover{
    -fx-background-color: #ECECEC;
}
.filters .button{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: 2;
}
.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}
.filters .button:hover{
    -fx-background-color: #ECECEC;
}

.hhbox{
    -fx-background-color: #fff;
}
.default{
    -fx-background-color: #000;
}
.ropa{
    -fx-background-image: url(../Seleccion/ropa.jpg);
    -fx-background-size: 150%;
}
.acc{
    -fx-background-image: url(../Seleccion/accesorios.jpg);
}
.imagen{
    -fx-background-image: url(../Seleccion/ropa.jpg);
}
.add{
    -fx-background-color: #000;
}
.add:hover{
    -fx-background-color: #696969;
}
.flowpane .label{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: 1;
    -fx-padding: 5;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
}
.logincart .textfield{
    -fx-background-color: rgba(0, 0, 0, 0);
    
}
.cartbckgr{
    -fx-background-color: #ecf1f3;
    -fx-background-radius: 50;
}
.sp > .viewport{
    -fx-background-color: #ecf1f3;
    -fx-border-width: 0;
}
.cont *{
    -fx-background-color: #000;
}
.cod{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: 1;
}
.apply{
    -fx-background-color: #d3d3d3;
}
.apply:hover{
    -fx-background-color: #d3d3d3;
}
#button{

    -fx-background-color: black;
    -fx-background-radius: 30;
    -fx-background-insests: 0;
    -fx-text-fill: white;
    -fx-start-margin: 50;
}

#botonBlanco{
    -fx-background-color: white;
    -fx-background-radius: 50;
    -fx-background-insests: 0;
    -fx-border-color:black;
    -fx-border-radius: 50;
    -fx-border-width: 2px;
}   

#botonfooter{
    -fx-background-color: rgb(224, 222, 222);
    -fx-background-radius: 30;
    -fx-background-insests: 0;
    -fx-text-fill: black;
}   

#boton2footer{
    -fx-background-color: rgb(224, 222, 222);
    -fx-background-insests: 0;
    -fx-text-fill: black;    
}
